/*halaman index*/
.con-index {
	background-image: url("../assets/img/leaves-pattern.png");
	background-size: cover;
}
.card {
	filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.5));
}
.card-img-top {
	width: 200px;
}
.btn-baru {
	background-color: #D2E4E7;
}
.btn-keadmin {
	margin-left: 100px;
}

/*halaman detail*/
.con-detail {
	background-image: url("../assets/img/leaves-pattern.png");
	background-size: cover;
}

/*halaman admin*/
span, .navbar-brand {
	padding-left: 100px;
	font-size: 26px;
}

nav, .navbar {
	background-color: #589F7B;
	box-shadow: 2px 2px 3px #C0C2C1;

}
.con-admin {
	padding: 25px;
	background-color: #EFF3F1;
}

/*halaman tambah*/
.con-tambah {
	background-color: #EFF3F1;
}
#btn-kembali {
	text-decoration-line: none;
}

/*button warna admin*/
#Ungu {
	background-color: #6f42c1;
}
#Hijau {
	background-color: #198754;
}
#Jingga {
	background-color: #fd7e14;
}

/*cari*/
.cari {
	margin-left: 500px;
}